*{
  box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
    background-color: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
}

h1{
  font-size:32;
  font-weight: 100;
}

h2{
  font-size:28;
  font-weight: 900;
}

/* Start Header */

.header{
    position: relative;
    text-align: center;
    color: #e5e5e5;
    width:100%;
    height:100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url('assets/work-desk__dustin-lee.jpg');
}

.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: #004a75;
    opacity: 0.7;
  }

.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End Header */

/* Start Notif */

.notif{
    background-color: #e5e5e5;
    width: 100%;
    height: 1%;
    position: sticky;
    top:0px;
    text-align:center;
    padding:0.5% 0.1% 0.5% 0.1%;
    z-index:3;
}

.notif-container.outer{
  max-width: 100%;
}

.notif-container {
  max-width: 720px;
  margin: 0 auto;
}

.notif-grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.notif-grid-item-text{
  flex-basis: 80%;
  -ms-flex: auto;
  width: 100%;
  position: relative;
  padding: 1%;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.notif-grid-item-button{
  flex-basis: 20%;
  -ms-flex: auto;
  width: 100%;
  position: relative;
  padding: 1%;
  box-sizing: border-box;
  
}

.notif-grid-row a {
  text-decoration: none;
}

.notif-grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background-color: #e5e5e5;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.notif-grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.notif-grid-item-content {
  padding: 0px 0px 0px 0px;
}

/* End Notif */

.logo{
  position:absolute;
  top:20px;
  left:20px;

}

.footer{
    max-width: 100%;
    background-color: #050328;
    color:#e5e5e5;
    text-align:center;
    position: relative;
    padding: 30px;
    
}

/* Start Newsletter */

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  max-width:100%;
  color:#ffffff;
  position: fixed;
  visibility: visible;
  z-index: 4;
  bottom:0px;
  left: 0px;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.newspanel {
  visibility:hidden;
}

.newspanel2{
  position: relative;
  max-width: 640px;
  background-color: #006aa8;
  opacity: 0.9;
}

.newspanel-outer{
  position: relative;
  width: 99%;
  background-color: #006aa8;
  opacity: 0.9;
  padding: 1%;
}

input[type=text], select {
  width: 76%;
  padding: 12px 12px 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color:#ff8000;
  color: white;
  padding: 12px 12px 12px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#cc6600;
}
/* End Newsletter */



.button{
    background-color: #017ac1; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonnotif{   
    background-color: #017ac1; 
    color: #ffffff; 
    border: 1px solid #017ac1;
    border-radius: 4px;
}

.buttonnotif:hover{
    background-color: #ffffff;
    color: #000;
    border: 1px solid #017ac1;
    border-radius: 8px;
}

.buttoncall{
    background-color: transparent;
    color:#ffffff;
    border:2px solid #ffffff;
    width: 224px;
    height: 58px;
    cursor: pointer;
}

.buttoncall:hover{
    background-color: #ffffff;
    color:#007bc1;
    border:2px solid #ffffff;
    width: 224px;
    height: 58px;
    cursor: pointer;
}

/* Start Highlight Panel */

.highlight{
  color:#000;
  z-index:1;
  text-align:center;
  margin: 20px 20px 20px 20px;
  padding: 20px 27% 20px 27%;
}

.highlight-container{
  padding: 0px 2% 3% 2%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.container {
  max-width: 100%;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  
  flex-basis: 33%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.grid-row a {
  text-decoration: none;
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: currentColor;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: #ececec;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #a9a9a9;
}

.grid-item-content {
  padding: 20px 20px 20px 20px;
}

.fontawe{
  float: right;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
  text-align:left;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  text-align:left;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}
/* End Highlight Panel */