body{
    width:100%;
    height:100%;
    background-color: #e5e5e5;
}

.header{
    position: relative;
    text-align: center;
    color: #ffffff;
}

.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: #004a75;
    opacity: 0.5;
  }

.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notif{
    background-color: #f2f2f2;
    width: 100%;
    height: 44px;
    position: sticky;
    top:0px;
    text-align:center;
    padding:10px;
    z-index:10;
}

.logo{

}


.highlight{
    color:#000;
    z-index:1;
    text-align:center;

}

.footer{
    width:100%;
    background-color: #050328;
    color:#e5e5e5;
    text-align:center;
    position: relative;
    padding: 30px;
    
}


.news{

}

.button{
    background-color: #017ac1; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonnotif{   
    background-color: #017ac1; 
    color: #ffffff; 
    border: 1px solid #017ac1;
    border-radius: 8px;
}

.buttonnotif:hover{
    background-color: #ffffff;
    color: #000;
    border: 1px solid #017ac1;
    border-radius: 8px;
}

.buttoncall{
    background-color: transparent;
    color:#ffffff;
    border:2px solid #ffffff;
    width: 224px;
    height: 58px;
    cursor: pointer;
}

.buttoncall:hover{
    background-color: #ffffff;
    color:#007bc1;
    border:2px solid #ffffff;
    width: 224px;
    height: 58px;
    cursor: pointer;
}

/* Start Highlight Panel */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.container {
  max-width: 1335px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 550px;
  flex-basis: 33%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.grid-row a {
  text-decoration: none;
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: currentColor;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: #ececec;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-image-top {
  height: 45%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

.grid-image-top .centered {
  text-align: center;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54.5%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-position: center;
}

.grid-image-top.rex-ray {
  background: -webkit-gradient(linear,left top, left bottom,from(#007DB8),to(#00447C));
  background: -webkit-linear-gradient(#007DB8,#00447C);
  background: -o-linear-gradient(#007DB8,#00447C);
  background: linear-gradient(#007DB8,#00447C);
}

.rex-ray-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/Rex-Ray-icon-209x300.png);
}

.grid-image-top.sputnik {
  background: -webkit-gradient(linear,left top, left bottom,from(#1AA9FB),to(#1785C4));
  background: -webkit-linear-gradient(#1AA9FB,#1785C4);
  background: -o-linear-gradient(#1AA9FB,#1785C4);
  background: linear-gradient(#1AA9FB,#1785C4);
}

.sputnik-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/sputnik-1-300x257.png);
}

.grid-image-top.edgex {
  background: -webkit-gradient(linear,left top, left bottom,from(#952f4c),to(#3e1a51));
  background: -webkit-linear-gradient(#952f4c,#3e1a51);
  background: -o-linear-gradient(#952f4c,#3e1a51);
  background: linear-gradient(#952f4c,#3e1a51);
}

.edgex-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/edge-x-300x287.png);
}

.grid-image-top.openswitch {
  background: -webkit-gradient(linear,left top, left bottom,from(#2db89a),to(#00793d));
  background: -webkit-linear-gradient(#2db89a,#00793d);
  background: -o-linear-gradient(#2db89a,#00793d);
  background: linear-gradient(#2db89a,#00793d);
}

.openswitch-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/open-switch-300x207.png);
}

.grid-image-top.scaleio {
  background: -webkit-gradient(linear,left top, left bottom,from(#2e96dd),to(#326de6));
  background: -webkit-linear-gradient(#2e96dd,#326de6);
  background: -o-linear-gradient(#2e96dd,#326de6);
  background: linear-gradient(#2e96dd,#326de6);
}

.scaleio-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/K8s_ScaleIO_Color-white-thumb-221x300.png);
}

.grid-image-top.csi {
  background: -webkit-gradient(linear,left top, left bottom,from(#464646),to(#000000));
  background: -webkit-linear-gradient(#464646,#000000);
  background: -o-linear-gradient(#464646,#000000);
  background: linear-gradient(#464646,#000000);
}

.csi-image {
  background-image: url(https://thecodeteam.com/wp-content/uploads/2017/08/csi-1-300x99.png);
}

.grid-item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
}

.more-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  padding-left: 0;
  transition-duration: .5s;
  font-size: 12px;
  display: flex;
}

.more-info i {
  padding-left: 5px;
  transition-duration: .5s;
}

.grid-item:hover .more-info i {
  padding-left: 20px;
  transition-duration: .5s;
}

.more-info i::before {
  font-size: 16px;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}
/* End Highlight Panel */

  
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  .ancok {width:180px;height:100px;visibility:hidden;}
  